# IDE
.idea
.vscode
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Composer
/vendor
composer.phar
composer.lock

# Runtime
/runtime/*
!/runtime/.gitkeep

# Assets
/web/assets/*
!/web/assets/.gitkeep

# Uploads (НЕ коммитим файлы клиентов)
/web/uploads/*
!/web/uploads/.gitkeep

# Config (НЕ коммитим конфиги с паролями)
/config/db.php

# Tests
phpunit.phar
/phpunit.xml

# Vagrant
/.vagrant
