/* Public Layout */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    padding: 2rem 0;
}

/* Main Content */
#main-content {
    min-height: calc(100vh - 200px);
}
